*{
    padding: 0;
    margin: 0;
    border: 0;
}
.Restaurant__heading{
    text-align: center;
    background-color: black;
    color: azure;
    margin: 0px;
    padding: 40px;
}
.Restaurant__fuction{
    text-decoration: none;
    color: gold;
    padding-top: 20px ;
    margin-top: 20px;
}
.Restaurant__heading--done :hover{
    color: darkgreen;

}
.Restaurant__heading--done{
    margin: 10px;
}

.Restaurant__contact{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}


.Restaurant__details--1{
    padding: 5px;
    margin: 10px;
    border-bottom: solid 1px bisque ;
}


.Restaurant__foods{
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    margin-top: 50px;
    background-color: rgb(252, 213, 221);
}

.Restaurant__foods--name{
    height: fit-content;
    width: 250px;
    border:solid 2.5px black ;
    display: inline-block;
    padding-bottom: 10px;
    padding-top:1px;
    margin: 10px;
    border-radius: 10px;
}

.Restaurant__foods--click{
    border:2px solid black;
    color: rgb(0, 159, 87);
    background-color: azure;
    padding: 5px;
    border-radius: 10px;
}
.Restaurant__foods--click:hover{
    color: gold;
    background-color: black;
    border-radius: 5px;
}

.Restaurant__foods--image1,
.Restaurant__foods--image2,
.Restaurant__foods--image3,
.Restaurant__foods--image4{
    height: 250px;;
    width: 250px;

}

.Restaurant__foods-number{
   height: fit-content;
  
}
.nothing{
    margin: 30px;
    padding: 10px;
}
.Restaurant__foods--con{
    padding: 10px;
    text-align: center;
    text-shadow: 10px;
    font-weight: 600;
}
.Restaurant__foods--price{
    text-decoration: line-through;
    display: inline-block;
}
.Restaurant__foods--price1{
    display: inline-block;

}

.Restaurant__foods--button{
    
    padding: 5px;
    padding-right: 90px;
    padding-left: 90px;  
    color: black;
    background-color: yellow;
    font-weight: 600;
    border-radius: 10px;
}
.Restaurant__foods--button:hover{
    color: gold;
    background-color: black;
    border:white solid 2px ;
    border-radius: 5px;
}

.Restaurant__end--tittle{
    padding: 10px;
    text-transform:capitalize;
    text-decoration:underline;  
}